@media screen and (max-width: 600px)
{
}
.contentWrapper
{
    margin-top: 80px;
    margin-bottom: 80px;
}
.footer
{
    height: 50px;
    text-align: center;
    color: #9b96a3;
    background-color: #1d1e21;
    background-image: url('https://www.transparenttextures.com/patterns/dark-circles.png');
}
.footer a
{
    font-weight: bold;
    color: #e22c2c;
}
.footer a:hover
{
    text-decoration: none;
    text-shadow: 1 1;
}
#header
{
    position: relative;
    top: 0;
    left: :0;
    display: block;
    height: auto;
    margin: 0;
    padding-bottom: .3em;
    background: #1d1e21/* 2B3032 *//* #2c3e50 */;
    background-image: url('https://www.transparenttextures.com/patterns/dark-circles.png');
}
#header h1
{
    font-family: 'Maven Pro', sans-serif;
    text-align: left;
    color: #e22c2c;
    text-shadow: 3px 3px black;
}
#header h3
{
    font-family: sans-serif;
    color: #fff;
    text-shadow: 2px 2px black;
}
.login-form
{
    margin: 0 auto;
    text-align: center;
}
.navbar{
  background-color: #1d1e21;
  background-image: url('https://www.transparenttextures.com/patterns/dark-circles.png');
}
.navbar-header a.navbar-brand{
  color: #e22c2c;
}
.navbar-header a.navbar-brand:hover{
  color: #e22c2c;

}
.nav.navbar-nav li a{
  color: white;
}
/*#navbar > ul:nth-child(1) > li.active{
  background-color: #e22c2c;
}*/
#navbar > ul:nth-child(1) > li.active > a{
  color:black;
  font-weight: bold;
  background-color: #e22c2c;
}
#navbar > ul > li.dropdown.open > ul{
      background: #1d1e21/* 2B3032 *//* #2c3e50 */;
}
#navbar > ul > li.dropdown.open > a:focus{
      background-color: black;  
}
#navbar > ul > li.dropdown.open > ul:hover{
      background-color: black;
}
/*#navbar > ul > li.dropdown.open > ul:focus{
      background-color: black;
}*/
#navbar > ul > li.dropdown.open > ul > li:focus > a{
    background-color: black;
}
