@media screen and (max-width: 600px)
{
}
body{
  font-family: 'Maven Pro', sans-serif;
}
.btn-black {
  color: #fff;
  background-color: #1d1e21;
  border-color: #1d1e21;
}
.contentWrapper
{
    margin-top: 80px;
    margin-bottom: 80px;
}
.footer
{
  width: 100%;
    height: 50px;
    text-align: center;
    color: #9b96a3;
    background-color: #1d1e21;
    /*background-image: url('https://www.transparenttextures.com/patterns/dark-circles.png');*/
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
}
.footer a
{
    font-weight: bold;
    color: #e22c2c;
}
.footer p{
    line-height: 50px  
}
.footer a:hover
{
    text-decoration: none;
    text-shadow: 1 1;
}
.navbar{
  font-family: 'Maven Pro', sans-serif;
  background-color: #1d1e21;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
  /*background-image: url('https://www.transparenttextures.com/patterns/dark-circles.png');*/
}
.navbar-header a.navbar-brand{
  color: #e22c2c;
  font-weight: bold;
}
.navbar-header a.navbar-brand:hover{
  background-color: black;
  color: #e22c2c;

}
.nav.navbar-nav li a{
  color: white;
}
#navbar > ul:nth-child(1) > li.active > a{
  color:black;
  
  background-color: #e22c2c;
}
#navbar > ul:nth-child(1) > li.active > a:hover{
  font-weight: bold;
}
#navbar > ul > li.dropdown.open > ul{
      background: #1d1e21;
}
#navbar > ul > li.dropdown.open > a:focus{
      background-color: black;  
}
#navbar > ul > li.dropdown.open > ul:hover{
      background-color: black;
}
/*#navbar > ul > li.dropdown.open > ul:focus{
      background-color: black;
}*/
#navbar > ul > li.dropdown.open > ul > li:focus > a{
    background-color: black;
}
#navbar > ul.nav.navbar-nav.navbar-right > li > a:focus{
  font-weight: bold;
  color: white;
}
#navbar > ul.nav.navbar-nav.navbar-right > li > ul > li > a:hover{
  background-color: black;
  color: #e22c2c;
}
#navbar > ul > li> a:hover{
  font-weight: bold;
  color: white;
}
.radio-spaced label{
  padding-left: 10px;
  padding-right: 10px;
}
.dimMargin{
  margin-top: -5px;
  margin-bottom: : -5px;
}
.clearMargin{
  margin:10px 0 10px 0;
}