#contentWrapper{
  z-index: 0;
  margin-top: 80px;
  color:black;
}
#ftr{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color:#9B96A3;
  background-color: #1D1E21;
  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
  text-align: center;
  height: 1em;
  margin-bottom: 0;
}
#ftr a{
  font-weight: bold;
  color: #E22C2C;
}
#ftr a:hover{
  text-shadow: 1 1;
  text-decoration: none;
}
#header{
  display: block;
  position: relative;
  top:0;
  left: :0;
  margin: 0;
  background: #1D1E21/* 2B3032 *//* #2c3e50 */;
  background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
  padding-bottom: 0.3em;
  height: auto;
}
#header h1{
  text-align: left;
  font-family: 'Maven Pro', sans-serif;
  color: #E22C2C;
  text-shadow: 3px 3px black;
}
#header h3{
  font-family: sans-serif;
  color: #fff;
  text-shadow: 2px 2px black;
}
.login-form{
  text-align: center;
  margin: 0 auto;
}