@(
	title: String,
	styles: Html
)
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="@routes.Assets.versioned("images/minuscula.png")">
	<title>@title</title>

 	<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")"> 
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/jquery/jquery-1.11.1.min.js")"></script> 
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script> 
</head>