@(
	displayMenu: Boolean
)
<div class=" menu col-md-11 col-xs-8">
	<ul class="topnav">
		<li><a class="active" href="">Inicio</a></li>
		@if(displayMenu){
			<li class="hidden-md hidden-lg"><a href="">Menú<span class="caret"></a></li>
			<li class="hidden-sm hidden-xs"><a href="#">Crear Orden de Servicio</a></li>
			<li class="hidden-sm hidden-xs"><a href="#">Buscar Orden de Servicio</a></li>
			<li class="hidden-sm hidden-xs"><a href="#">Venta</a></li>
			<li class="hidden-sm hidden-xs"><a href="#">Accesorios</a></li>
			<li class="hidden-sm hidden-xs"><a href="#">Administrador</a></li>
		}
	</ul>
</div>