<section id="header" class="col-md-12">
	<!-- <div class="row">
		<div class="col-md-11"> -->
			@layouts.templates.menu()
		<!-- </div> -->
		<!-- <div id="bannerContainer">
			<h1>Cordófonos</h1>
			

		</div> -->
		<!-- <div class="profile">
			<ul>
				<li><a class="usuarioTag">Usuario</a></li>
				<li><a class="cerrarSesion" href="@routes.Authenticate.logout">Cerrar Sesión</a></li>
			</ul>
		</div> -->
		<!-- <div class="col-md-1">
			<li class="dropIt"><a href="">Usuario</a></li>
		</div> -->
	<!-- </div> -->
</section>
