@(title: String,styles: Html,displayMenu:Boolean)(content: Html)

<!DOCTYPE html>
<html lang="es">
    @layouts.templates.header(title, styles)
    <body class="container-fluid">
        <div class="row">            
            @layouts.templates.navbar(displayMenu)
        </div>
        <div class="contentWrapper panel panel-default col-md-offset-2 col-md-8 col-xs-12">
            @content
        </div>
        @layouts.templates.footer()        
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
